[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cryptography = "*"
black = "*"
isort = "*"

[dev-packages]
#black = "*"
pytest = "*"

[requires]
python_version = "3.9"
